.header {
  background-color: #264653;
  color: #f4a261;
  font-size: 30px;
  text-align: center;
  padding: 30px;
}

.footer {
  background-color: #264653;
  color: #e9c46a;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
